
<h1> Student Resume </h1>
<% @students.each do |student|%>
<div class="student">
  First name: <%= student["first_name"] %>
  Last name: <%= student["last_name"] %>
  Email: <%= student["email"] %>
  Phone: <%= student["phone_number"] %>
  Bio: <%= student["bio"] %>
  Linkedin: <%= student["linkedin_url"] %>
  Twitter: <%= student["twitter_handle"] %>
  Personal: <%= student["personal_url"] %>
  Resume: <%= student["resume_url"] %>
  Github: <%= student["github_url"] %>
  Photo: <%= student["photo"] %>
  </div>
<%end%>