<h1> Student Resume </h1>
<% @students.each do |student|%>
<div class="student">
  First name: <%= link_to student.first_name, "/students/#{student.first_name}" %>
  Last name: <%= student.last_name %>
  Email: <%= student.email %>
  Phone: <%= student.phone_number %>
  Bio: <%= student.short_bio %>
  Linkedin: <%= student.linkedin_url %>
  Twitter: <%= student.twitter_handle %>
  Personal: <%= student.personal_website %>
  Resume: <%= student.online_resume_url %>
  Github: <%= student.github_url %>
  Photo: <%= student.photo %>
    <% @student.experiences.each do |experience| %>
      <div class="experience" >
      Start date: <%= experience.start %> 
      End Date: <%= experience.end %> 
      Title: <%= experience.title %> 
      Company: <%= experience.company %> 
      Details: <%= experience.details %> 
      </div>
    <% end %>
    <div class="education" >
    <% @student.education.each do |school| %>
      School Start Date: <% school.start %>
      School End Date: <% school.end %>
      Degree: <% school.degree %>
      University: <% school.university %>
      Details: <% school.details %>
    </div>
    <% end %>

    <div class="skills" >
    <% @student.skills.each do |skill|%>
    Skill Name <% skill.skill_name %>
    <% end %>
    </div>

    <div class="capstone">
    <% @student.capstones.each do |capstone|%>
    <% capstone.name %>
    <% capstone.description %>
    <% capstone.url %>
    <% capstone.screenshot %>
    <% end %>
    </div>



  </div>
<%end%>